.cell {
  cursor: pointer;
  width: 80px;
  height: 80px;
  background: lightgray;
  outline: 0;
}

.target {
  background: #7788d1;
}

.cell-wrapper {
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container {
  width: 340px;
  margin: 0 auto;
}

.score {
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
  color: red;
}
